body {
  font-family: Arial, sans-serif;
  background: #e9f4f3;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.card {
  background: white;
  padding: 35px;
  border-radius: 15px;
  width: 480px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  text-align: center;
  margin-bottom: 25px;
}

.rating button, .rating-0-10 button, .options button {
  border: none;
  padding: 10px 18px;
  margin: 4px;
  border-radius: 50px;
  background: #ddd;
  cursor: pointer;
}

button.selected {
  background: #05c46b !important;
  color: white;
}

.btn {
  background: #05c46b;
  border: none;
  padding: 14px;
  width: 100%;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 25px;
}
